<div class="container-fluid">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="d-flex justify-content-between mb-1">
          <div class="p-2">
            <strong>Benvenuto :</strong> 
            <span class="badge badge-pill text-center badge-success">{{nickname}}</span>
            <button type="button" class="btn btn-warning btn-sm active" title="Torna Indietro" (click)="back()">
              <i class="fa fa-arrow-circle-left"></i>
            </button>          
            <button type="button" class="btn btn-danger btn-sm active" title="Esci" (click)="logout()">
              <i class="fa fa-sign-out"></i> 
            </button>  
          </div>
          <div class="p-2">
              <strong>Sarà possibile inserire i pronostici per : </strong>
              <span class="badge badge-pill text-center" 
              [ngClass]="{'badge-success': !pronoClosed, 'badge-danger': pronoClosed }">
                <countdown-timer [end]="dataChiusuraProno"></countdown-timer>
              </span>
          </div>
        </div>
    </div>
    <div class="col-md-1"></div>
  </div>
    
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center mb-1">        
        <div class="form-group">
          <h4><label for="st" class="badge badge-info">Stagione</label></h4>
          <select #st id="st" (change)="getClassifica($event.target.value)" style="height:25px">
            <option class="form-control" value="XXX">Seleziona una Stagione</option> <!-- not selected / blank option -->
            <option class="form-control" *ngFor="let stagione of listaStagioni" [value]="stagione.stagione">{{ stagione.stagione }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="showClassifica">
    <div class="col-md-12">
    </div>
  </div>
  
</div>
  
