<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="divButton rounded btn-group btn-group-lg mx-auto">
        <button *ngFor="let competizione of competizioni" type="button" class="btn btn-primary w-100 h-100 btn-lg active" (click)="fillPronostici(competizione.numero_pronostici, competizione.id)">
            {{competizione.competizione}} 
            <span
              class="badge badge-pill text-center"
              [ngClass]="{
                          'badge-success': (competizione.numero_pronostici - competizione.pronostici_inseriti) == 0, 
                          'badge-warning': (competizione.numero_pronostici - competizione.pronostici_inseriti) > 0 }" 
            >
              {{competizione.pronostici_inseriti}} / {{competizione.numero_pronostici}}
            </span>
        </button>          
        <button type="button" class="btn btn-success w-100 h-100 btn-lg active" (click)="salvaPronostici()">
            <i class="fa fa-floppy-o"></i>  
        </button>          
        <button type="button" class="btn btn-danger w-100 h-100 btn-lg active" (click)="logout()">
            <i class="fa fa-unlink"></i> 
        </button>          

      </div> 
    </div>   
  </div>
  <br>
  <div *ngIf="showProno" class="row">
      <div class="col-md-3">
        <img alt="" class="rounded img-fluid mx-auto d-block" src="assets/{{logo}}">
      </div>
      <div class="mx-auto" [ngClass]="{'col-md-3 divTableLeft':pronosticiGt10, 'col-md-6 divTableFull':!pronosticiGt10 }">
        <table class="table table-bordered tableCenter" [ngClass]="{'table-sm':pronosticiGt10}">
          <thead class="table-warning">
            <tr>
              <th>Posizione</th>
              <th>Pronostico</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of numberPronostici">
              <td class="align-middle">
                  <span class="badge badge-pill text-center badge-success">{{e}}</span>
              </td>
              <td>
                <!-- <select  Original -->
                <select [(ngModel)]="valoriPronosticiToSave[getIndexCompetizione(idCompToselect)].pronostici[(e - 1)]"
                        (change)="setPronosticiInseriti($event.target.value, e, idCompToselect)"
                        style="height:25px"
                >
                  <option class="form-control" value="XXX">Seleziona un Valore</option> <!-- not selected / blank option -->
                  <option class="form-control" *ngFor="let valoriProno of valoriPronosticiToShow" [value]="valoriProno.valuePronostico">{{ valoriProno.valuePronostico }}</option>
                </select>
              </td>
            </tr>
          </tbody>  
        </table>
      </div>
      <div *ngIf="pronosticiGt10" class="col-md-3 divTableRight mx-auto">
          <table class="table table-sm table-bordered tableCenter">
            <thead class="table-warning">
              <tr>
                <th>Posizione</th>
                <th>Pronostico</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of numberPronosticiGt10">
                <td class="align-middle">
                  <span class="badge badge-pill text-center badge-success">{{e}}</span>
                </td>
                <td>
                  <select [(ngModel)]="valoriPronosticiToSave[getIndexCompetizione(idCompToselect)].pronostici[(e - 1)]"
                          (change)="setPronosticiInseriti($event.target.value, e, idCompToselect)"
                          style="height:25px"
                  >
                    <option class="form-control" value="XXX">Seleziona un Valore</option> <!-- not selected / blank option -->
                    <option class="form-control" *ngFor="let valoriProno of valoriPronosticiToShow" [value]="valoriProno.valuePronostico">{{ valoriProno.valuePronostico }}</option>
                  </select>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <img alt="" class="rounded img-fluid mx-auto d-block" src="assets/{{logo}}">
      </div>
  </div>

</div>

<!--
        <table>
          <tr>
            <td *ngFor="let competizione of competizioni">
                <button type="button" class="btn btn-primary w-100 h-100 btn-lg active" (click)="FillPronostici(competizione.numero_pronostici, competizione.competizione)">
                    {{competizione.competizione}} 
                </button>
            </td>
          </tr>
        </table>
-->