<app-toolbar></app-toolbar>

<!-- Desktop -->
<div *ngIf="isDesktopDevice">
  <div class="container-fluid">
    
    <hotkeys-cheatsheet title="Comandi Nascosti"></hotkeys-cheatsheet>

    <div class="row"> <!-- Date on prono and legaforum prono -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <mat-card> 
                <mat-radio-group
                [(ngModel)]="tipo_pronostici" 
                (change)="resetSchedina()"
                >
                    <mat-radio-button class="mat-body-1" value="E">Esterni &nbsp;&nbsp;&nbsp;</mat-radio-button>  
                    <mat-radio-button class="mat-body-1" value="L">Lega Forum &nbsp;&nbsp;&nbsp;</mat-radio-button>
                </mat-radio-group>
                &nbsp;&nbsp;
                <mat-form-field>
                    <mat-select 
                    #selComp
                    placeholder="Schedina"
                    [(ngModel)]="idCompetizioneToFill"
                    (selectionChange)="fillPronostici(0, idCompetizioneToFill, tipo_pronostici)"
                    >
                        <mat-option class="mat-body-1" value="0">Nessuna</mat-option>
                        <mat-optgroup *ngFor="let competizioneGroup of competizioniGrouped" [label]="competizioneGroup.group">
                          <mat-option class="mat-body-1" *ngFor="let competizione of competizioneGroup.competizioni" [value]="competizione.id">
                            {{ competizione.settimana }}
                          </mat-option>                        
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button 
                type="button" 
                class="btn btn-success btn-lg active" 
                title="Salva i Dati" 
                (click)="salvaPronosticiClassifica()"
                [disabled]="!showProno"
                >
                    <i class="fa fa-floppy-o"></i>  
                </button> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         
                <button 
                [disabled]="admin"
                type="button" 
                class="btn btn-secondary btn-lg active" 
                title="Exporta i pronostici in Excel" 
                (click)="exportExcelPronostici()"
                >
                    <i class="fa fa-file-excel-o"></i>  
                </button> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                <button 
                *ngIf="admin"
                disabled
                type="button" 
                class="btn btn-danger btn-lg active"  
                >
                    Admin Mode
                </button>  
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span *ngIf="showProno && !admin">
                    <strong>Pronostici Inseribili per : </strong>
                    <span class="badge text-center" 
                    [ngClass]="{'badge-success': !pronoClosed, 'badge-danger': pronoClosed }">
                        <countdown-timer [end]="dateCompetizioneInCorso.data_chiusura"></countdown-timer>
                    </span>        
                </span>
            </mat-card>
        </div>
        <div class="col-md-1"></div>
    </div> <!-- Fine Date on prono and legaforum prono -->

    <div class="row">
        <div class= "col-md-12">&nbsp;</div>
    </div>
    
    <div *ngIf="showProno" class="row">
        <div class="col-md-3">
          <img alt="" class="rounded img-fluid mx-auto d-block" [src]="logoImage">
        </div>
        <div class="mx-auto" [ngClass]="{'col-md-3 divTableLeft':pronosticiGt10, 'col-md-6 divTableFull':!pronosticiGt10 }">
          <div *ngIf="!admin">
              <mat-card *ngFor="let e of numberPronostici">
                <div class="row">
                    <div class= "col-md-6 text-left">
                        {{valoriPronosticiToSave[getIndexCompetizione(idCompToselect, tipo_pronostici)].pronostici[(e - 1)]}}
                    </div>
                    <div class= "col-md-2">&nbsp;</div>
                    <div class= "col-md-4">
                        <mat-button-toggle-group 
                            name="prono" aria-label="Pronostici"
                            [(ngModel)]="valoriPronosticiToSave[getIndexCompetizione(idCompToselect, tipo_pronosticitipo_pronostici)].valori_pronostici[(e - 1)]"
                        >
                            <mat-button-toggle value="1" [disabled]="pronoClosed">1</mat-button-toggle>
                            <mat-button-toggle value="X" [disabled]="pronoClosed">X</mat-button-toggle>
                            <mat-button-toggle value="2" [disabled]="pronoClosed">2</mat-button-toggle>
                        </mat-button-toggle-group>    
                    </div>
                </div>
              </mat-card>
          </div>
          <div *ngIf="admin">
              <mat-card *ngFor="let e of numberPronostici">
                <div class="row">
                        <div class= "col-md-6 text-left">
                        {{cCCToSaveToPronostici[getIndexCompetizione(idCompToselect, tipo_pronostici)].pronostici[(e - 1)]}}
                    </div>
                    <div class= "col-md-2">&nbsp;</div>
                    <div class= "col-md-4">
                        <mat-button-toggle-group 
                            name="prono" aria-label="Pronostici"
                            [(ngModel)]="cCCToSaveToPronostici[getIndexCompetizione(idCompToselect, tipo_pronostici)].valori_pronostici_classifica[(e - 1)]"
                        >
                            <mat-button-toggle value="1" [disabled]="pronoClosed && !admin">1</mat-button-toggle>
                            <mat-button-toggle value="X" [disabled]="pronoClosed && !admin">X</mat-button-toggle>
                            <mat-button-toggle value="2" [disabled]="pronoClosed && !admin">2</mat-button-toggle>
                        </mat-button-toggle-group>    
                    </div>
                </div>
              </mat-card>
          </div>
        </div>
        <div *ngIf="pronosticiGt10" class="col-md-3 divTableRight mx-auto">
          <div *ngIf="!admin">
              <mat-card *ngFor="let e of numberPronosticiGt10">
                <div class="row">
                        <div class= "col-md-6 text-left">
                        {{valoriPronosticiToSave[getIndexCompetizione(idCompToselect, tipo_pronostici)].pronostici[(e - 1)]}}
                    </div>
                    <div class= "col-md-2">&nbsp;</div>
                    <div class= "col-md-4">
                        <mat-button-toggle-group 
                            name="prono" aria-label="Pronostici"
                            [(ngModel)]="valoriPronosticiToSave[getIndexCompetizione(idCompToselect, tipo_pronostici)].valori_pronostici[(e - 1)]"
                        >
                            <mat-button-toggle value="1" [disabled]="pronoClosed">1</mat-button-toggle>
                            <mat-button-toggle value="X" [disabled]="pronoClosed">X</mat-button-toggle>
                            <mat-button-toggle value="2" [disabled]="pronoClosed">2</mat-button-toggle>
                        </mat-button-toggle-group>    
                    </div>
                </div>
              </mat-card>
          </div>
            <div *ngIf="admin">
                <mat-card *ngFor="let e of numberPronosticiGt10">
                    <div class="row">
                            <div class= "col-md-6 text-left">
                            {{cCCToSaveToPronostici[getIndexCompetizione(idCompToselect, tipo_pronostici)].pronostici[(e - 1)]}}
                        </div>
                        <div class= "col-md-2">&nbsp;</div>
                        <div class= "col-md-4">
                            <mat-button-toggle-group 
                                name="prono" aria-label="Pronostici"
                                [(ngModel)]="cCCToSaveToPronostici[getIndexCompetizione(idCompToselect, tipo_pronostici)].valori_pronostici_classifica[(e - 1)]"
                            >
                                <mat-button-toggle value="1" [disabled]="pronoClosed && !admin">1</mat-button-toggle>
                                <mat-button-toggle value="X" [disabled]="pronoClosed && !admin">X</mat-button-toggle>
                                <mat-button-toggle value="2" [disabled]="pronoClosed && !admin">2</mat-button-toggle>
                            </mat-button-toggle-group>    
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <div class="col-md-3">
          <img alt="" class="rounded img-fluid mx-auto d-block" [src]="logoImage">
        </div>
    </div>

  </div>
</div>

<!-- Tablet e Mobile -->
<div *ngIf="!isDesktopDevice" class="container-fluid">

    <div class="row"> <!-- Riga con la dropdown competizioni -->
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <mat-radio-group
            [(ngModel)]="tipo_pronostici" 
            (change)="resetSchedina()"
            >
                <mat-radio-button class="mat-body-1" value="E">Esterni &nbsp;&nbsp;&nbsp;</mat-radio-button>  
                <mat-radio-button class="mat-body-1" value="L">Lega Forum &nbsp;&nbsp;&nbsp;</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row"> <!-- Riga con la dropdown competizioni -->
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

            <mat-form-field>
                <mat-select 
                #st
                placeholder="Schedina"
                [(ngModel)]="idCompetizioneToFill"
                (selectionChange)="fillPronostici(0, idCompetizioneToFill, tipo_pronostici)"
                >
                    <mat-option class="mat-body-1" value="0">Nessuna</mat-option>
                    <mat-optgroup *ngFor="let competizioneGroup of competizioniGrouped" [label]="competizioneGroup.group">
                        <mat-option class="mat-body-1" *ngFor="let competizione of competizioneGroup.competizioni" [value]="competizione.id">
                            {{ competizione.settimana }}
                        </mat-option>                        
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
       
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row"> <!--Riga con combo e pulsanti -->
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <button 
            type="button" 
            class="btn btn-success btn-sm active" 
            title="Salva i Dati" 
            (click)="salvaPronosticiClassifica()"
            [disabled]="!showProno"
            >
                <i class="fa fa-floppy-o"></i>  
            </button>       
            &nbsp;&nbsp;         
            <button 
            [disabled]="admin"
            type="button" 
            class="btn btn-secondary btn-sm active" 
            title="Exporta i pronostici in Excel" 
            (click)="exportExcelPronostici()"
            >
                <i class="fa fa-file-excel-o"></i>  
            </button>    
            &nbsp;&nbsp;          
            <button 
            *ngIf="admin"
            disabled
            type="button" 
            class="btn btn-danger btn-sm active"  
            title="Admin Mode Attivo"
            >
            Admin Mode
            </button>              
        </div>
        <div class="col-sm-2"></div> 
    </div>
    
    <div class="row"> <!--TIMER -->
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <span *ngIf="showProno && !admin">
                <strong>Pronostici Inseribili per : </strong>
                <span class="badge text-center" 
                [ngClass]="{'badge-success': !pronoClosed, 'badge-danger': pronoClosed }">
                    <countdown-timer [end]="dateCompetizioneInCorso.data_chiusura"></countdown-timer>
                </span>        
            </span>    
        </div>
        <div class="col-sm-2"></div>
    </div> <!-- FINE TIMER -->

    <div class="row">
        <div class="col-sm-12">&nbsp;</div>
    </div>

    <div *ngIf="showProno" class="row"> <!-- Riga con i pronostici -->
        <div class="mx-auto col-sm-12">
            <div *ngIf="!admin">
                <mat-card *ngFor="let e of numberPronostici">
                    <div class="row">
                        <div class= "col-md-6 text-left">
                            {{valoriPronosticiToSave[getIndexCompetizione(idCompToselect, tipo_pronostici)].pronostici[(e - 1)]}}
                        </div>
                        <div class= "col-md-2">&nbsp;</div>
                        <div class= "col-md-4">
                            <mat-button-toggle-group 
                                name="prono" aria-label="Pronostici"
                                [(ngModel)]="valoriPronosticiToSave[getIndexCompetizione(idCompToselect, tipo_pronostici)].valori_pronostici[(e - 1)]"
                            >
                                <mat-button-toggle value="1" [disabled]="pronoClosed">1</mat-button-toggle>
                                <mat-button-toggle value="X" [disabled]="pronoClosed">X</mat-button-toggle>
                                <mat-button-toggle value="2" [disabled]="pronoClosed">2</mat-button-toggle>
                            </mat-button-toggle-group>    
                        </div>
                    </div>
                </mat-card>
            </div>
            <div *ngIf="admin">
                <mat-card *ngFor="let e of numberPronostici">
                    <div class="row">
                        <div class= "col-md-6 text-left">
                            {{cCCToSaveToPronostici[getIndexCompetizione(idCompToselect, tipo_pronostici)].pronostici[(e - 1)]}}
                        </div>
                        <div class= "col-md-2">&nbsp;</div>
                        <div class= "col-md-4">
                            <mat-button-toggle-group 
                                name="prono" aria-label="Pronostici"
                                [(ngModel)]="cCCToSaveToPronostici[getIndexCompetizione(idCompToselect, tipo_pronostici)].valori_pronostici_classifica[(e - 1)]"
                            >
                                <mat-button-toggle value="1" [disabled]="pronoClosed && !admin">1</mat-button-toggle>
                                <mat-button-toggle value="X" [disabled]="pronoClosed && !admin">X</mat-button-toggle>
                                <mat-button-toggle value="2" [disabled]="pronoClosed && !admin">2</mat-button-toggle>
                            </mat-button-toggle-group>    
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">&nbsp;</div> 
    </div>
    
    <div *ngIf="pronosticiGt10" class="row"> <!-- con i prono > 10 -->
        <div class="col-sm-12">
            <div *ngIf="!admin">
                <mat-card *ngFor="let e of numberPronosticiGt10">
                    <div class="row">
                        <div class= "col-md-6 text-left">
                            {{valoriPronosticiToSave[getIndexCompetizione(idCompToselect, tipo_pronostici)].pronostici[(e - 1)]}}
                        </div>
                        <div class= "col-md-2">&nbsp;</div>
                        <div class= "col-md-4">
                            <mat-button-toggle-group 
                                name="prono" aria-label="Pronostici"
                                [(ngModel)]="valoriPronosticiToSave[getIndexCompetizione(idCompToselect, tipo_pronostici)].valori_pronostici[(e - 1)]"
                            >
                                <mat-button-toggle value="1" [disabled]="pronoClosed">1</mat-button-toggle>
                                <mat-button-toggle value="X" [disabled]="pronoClosed">X</mat-button-toggle>
                                <mat-button-toggle value="2" [disabled]="pronoClosed">2</mat-button-toggle>
                            </mat-button-toggle-group>    
                        </div>
                    </div>
                </mat-card>
            </div>
            <div *ngIf="admin">
                <mat-card *ngFor="let e of numberPronosticiGt10">
                    <div class="row">
                        <div class= "col-md-6 text-left">
                            {{cCCToSaveToPronostici[getIndexCompetizione(idCompToselect, tipo_pronostici)].pronostici[(e - 1)]}}
                        </div>
                        <div class= "col-md-2">&nbsp;</div>
                        <div class= "col-md-4">
                            <mat-button-toggle-group 
                                name="prono" aria-label="Pronostici"
                                [(ngModel)]="cCCToSaveToPronostici[getIndexCompetizione(idCompToselect, tipo_pronostici)].valori_pronostici_classifica[(e - 1)]"
                            >
                                <mat-button-toggle value="1" [disabled]="pronoClosed && !admin">1</mat-button-toggle>
                                <mat-button-toggle value="X" [disabled]="pronoClosed && !admin">X</mat-button-toggle>
                                <mat-button-toggle value="2" [disabled]="pronoClosed && !admin">2</mat-button-toggle>
                            </mat-button-toggle-group>    
                        </div>
                    </div>               
                </mat-card>
            </div>
        </div>
    </div>

</div>
