<div class="w-100 h-100 m-0 py-5">
  <div class="container-fluid">
    <div class="row"> <!-- Nick Password Login -->
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form name="form" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nickname" [formControl]="nicknameFormControl">
            <mat-error *ngIf="nicknameFormControl.hasError('required')">
              Nickname Obbligatorio
            </mat-error>
          </mat-form-field>
          <div>
              &nbsp;
          </div>
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" [formControl]="passwordFormControl">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password Obbligatoria
            </mat-error>
          </mat-form-field>
          <div>
              &nbsp;
          </div>          
          <button  
            class="mat-button"
            [disabled]="loading"
            mat-raised-button color="primary"
            title="Login"
          >
            Login
          </button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </form>
      </div>   
      <div class="col-md-4"></div>
    </div>

    <div class="row"> <!--Registra -->
      <div class="col-sm-12">&nbsp;</div>
    </div>

    <div class="row"> <!--Registra -->
      <div class="col-md-3">
        <button  
          class="mat-button"
          mat-raised-button color="primary"
          title="Registrazione"
          (click)="gotoRegister()"
        >
          Registrazione
        </button>  
        &nbsp;&nbsp;&nbsp;
        <button  
          class="mat-button"
          mat-raised-button color="primary"
          title="Recupera Password"
          (click)="recoverPassword()"
        >
          Recupera Password
        </button>        

      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3"></div>
    </div>

  </div>
</div>

